.caturday {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

img {
    max-height: 75vh;
    min-height: 75vh;
}

button {
    border: none;
    padding: 7px 12px;
    border-radius: 20px;
}

.getACat {
    background-color: rgb(80, 213, 80);
    color: white;
}

.getAGif {
    background-color: rgb(142, 169, 239);
    color: white;
}



