.caturday {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-height: 50vh;
}

img {
    max-height: 70vh;
    min-height: 70vh;
    display: none;
}

button {
    border: none;
    padding: 7px 12px;
    border-radius: 20px;
}

.getACat {
    background-color: rgb(80, 213, 80);
    color: white;
}

.getAGif {
    background-color: rgb(142, 169, 239);
    color: white;
}

h2 {
    display: none;
    animation: animatedHeading 2s linear infinite;
}

h3 {
    font-size: 12px;
}

/* Animation */

@keyframes animatedHeading {
    0% {
        color: rgb(203, 239, 94);
    }
    25% {
        color: pink;
    }
    50% {
        color: rgb(103, 142, 219);
    }
    75% {
        color: rgb(232, 138, 204);
    }
    100% {
        color: rgb(203, 239, 94)
    }
}



