/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game {
}

.line {
	display: flex;
}

.square {
	height: 100px;
	width: 100px;
	border: solid black 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/******************************************
/* FONTS AND COLORS
/*******************************************/

.player {
	font-size: 20px;
	color: rgb(13, 19, 143);
	padding: 30px;
	text-align: center;
}

.winner {
	font-size: 50px;
	text-align: center;
	padding: 30px;
	color: rgb(171, 31, 31);
}
