/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game {
}

.line {
	display: flex;
}

.square {
	height: 100px;
	width: 100px;
	border: solid black 1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/******************************************
/* FONTS AND COLORS
/*******************************************/

.player {
	font-size: 20px;
	margin-bottom: 30px;
	text-align: center;
}
