/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.main {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	padding: 20px;
}

img {
	max-width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
