/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
}

/******************************************
/* NAVBAR
/*******************************************/

nav {
	display: flex;
	justify-content: space-around;
	padding: 13px 0;
	border: 0.1px solid rgb(230, 230, 230);
	align-items: center;
}

nav a {
	color: rgb(70, 101, 238);
	text-decoration: none;
	padding: 10px 0;
}

.right-nav a {
	padding: 10px 10px;
	font-weight: 600;
}

.nav-left {
	display: flex;
	align-items: center;
	gap: 25px;
}

/******************************************
/* DROPDOWN BUTTON
/*******************************************/

.dropbtn {
	border: none;
	background-color: white;
	color: rgb(70, 101, 238);
	font-weight: 600;
	cursor: pointer;
}

.dropbtn:hover {
	color: rgb(0, 162, 255);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: rgb(247, 245, 245);
	padding: 8px 8px;
	min-width: 250px;
	top: 20px;
}

.dropdown-content li {
	padding: 10px 10px;
	list-style-type: none;
}

.dropdown-content li:hover {
	background-color: rgb(234, 232, 232);
}

.dropdown-content li a:hover {
	color: green;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/******************************************
/* SEARCH BAR
/*******************************************/

.magnifying-glass {
	height: 20px;
}

.container {
	width: 200px;
}

.form {
	display: flex;
}

.search-field {
	width: 100%;
	border: none;
	outline: none;
	background-color: rgb(233, 233, 233);
	border-radius: 3px;
	padding: 5px 10px;
}

.search-button {
	background-color: transparent;
	border: none;
	outline: none;
	margin-left: -33px;
}

.search-button img {
	object-fit: cover;
}

/******************************************
/* COMPONENTS
/*******************************************/

.logo {
	height: 30px;
}

.arrow {
	height: 10px;
	color: rgb(70, 101, 238);
}
