/* Please Make only Rhino and Zebra Blue */
html body section.top h2 {
	color: blue;
}

/* Please Make only Hufflepuff Gold */
html body section.middle article #bestHouse {
	color: gold;
}

/* Please select Duck with the highest level of specificity possible */
html body article.areDucksDinosaurs h2.likesToQuack {
	color: red;
}

/* Please select Rhino with the highest level of specificity possible */
html body section.top #rhino {
	color: pink;
}
